<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Berry Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="body-div">
    <header class="header-div">
      <h1>
        <a class="href" href="/">Welcome to the berry blog!</a>
      </h1>
      <nav class="nav-div">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="href profile" href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a class="href" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="body-maindiv">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/login.js"></script>
</body>

</html>