<h2 class="editpost">please enter your new post name and description.</h2>
<form class="newpost">
  <label for="post-title-input">new title:</label>
  <textarea id="title-input"></textarea>
  <label for="post-desc-input">new description:</label>
  <textarea id="desc-input"></textarea>
  <button type="submit" data-id="{{post.id}}" class="btn btn-edit">save</button>
</form>

<script src="/js/editPost.js"></script>