<h2 class="editpost">please enter your new goal description, and new timeframe.</h2>
<form class="newpost">
  <label for="goal-desc-input">new description:</label>
  <textarea id="desc-input"></textarea>
  <button type="submit" data-id="{{post.id}}" class="btn btn-edit">save</button>
</form>

<script src="/js/editPost.js"></script>