<div class="welcome-row">
  <div class="header-two">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="profile-post-section">
  <div class="new-post-section">
    <h3 class="header-three">Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group name-postdiv">
        <label for="name">post name:</label>
        <input class="form-input" type="text" id="name" name="post-name" />
      </div>
      <div class="form-group desc-postdiv">
        <label for="desc">description:</label>
        <textarea class="form-input" id="desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="list-postdiv post-list">
    <h3 class="header-three">Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="indv-postdiv">
      <div class="postname-profdiv">
        <h4><a class="href" href="/posts/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="del-postdiv">
        <button class="btn btn-danger" data-id="{{post.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>