<div class="dual-commentdiv">
    <div class="desc-commentdiv">
        <h4>{{comment.description}}</a></h4>
        <h4><a class="href" href="/posts/{{comment.post_id}}">Go Back</a></h4>
    </div>
    <div class="btn-commentdiv">
        <button class="btn btn-danger" data-id="{{comment.id}}">Delete</button>
    </div>
    <div class="btn-commentdiv">
        <button class="btn editbtn" data-id="{{comment.id}}">Edit</button>
    </div>
</div>