* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: rgba(255, 162, 96, 0.954);
    background-image: url('/img/berry-stock-img.png');
    background-size: 1500px 900px;
}

.login-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4px;
}

.login-card {
    margin-right: 20px;
}

.email-div {
    margin-top: 5px;
}

.pass-div {
    margin-top: 5px;
}

.header-two {
    font-style: italic;
    margin-top: 18%;
    margin-left: 75%;
    font-size: 30px;

}

span {
    background: rgb(75, 0, 145);
    border-radius: 50%;
}

.header-three {
    color: #FFFFFF;
}

button {
    background: radial-gradient(circle, rgba(255, 162, 96, 0.954) 0%, rgb(75, 0, 145) 100%);
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3em;
    letter-spacing: 0.21px;
    line-height: 1px;
    padding: 15px;
    margin-top: 0.6em;
}

header {
    padding: 40px;
    text-align: center;
    background: rgb(75, 0, 145);
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-post-section {
    background: #470099;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
}

.homepage-post-div {
    padding: 10px;
    width: 50%;
    background: #470099;
    color: #fff;
    text-align: center;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

.postsdesc-div {
    background: rgba(255, 186, 121, 0.954);
    border: 1px dashed #eceff1;
    border-radius: 8px;
    color: #000000;
}

.posts-div {
    font-style: italic;
}

.href {
    color: #FFFFFF;
}

.href:visited {
    color: #FFFFFF;
}

.name-postdiv {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 4px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 5px;
}

.desc-postdiv {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 2px;
    color: #FFFFFF;
    text-align: center;
}

.main-commentdiv {
    border: solid #FFFFFF;
}

.current-commentdiv {
    border-top: solid #FFFFFF;
}

.ind-comment {
    background: rgb(75, 0, 145);
    color: #FFFFFF;
    margin-top: 10%;
    border-radius: 20%;
    padding: 2%;
}

.ind-comment-btn {
    display: flex;
    justify-content: space-around;
}

.editpost {
    background: rgb(75, 0, 145);
    display: flex;
    flex-direction: column;
    border: solid #000000;
    color: #FFFFFF;
    border-radius: 10%;
    margin-top: 5%;
    padding: 2%;
    margin-right: 40%;
}

.newpost {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    background: rgb(75, 0, 145);
    color: #FFFFFF;
    padding: 2%;
    border-radius: 35%;
}

.newcomment {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background: rgb(75, 0, 145);
    border-radius: 35%;
    padding: 20px;
    margin-top: 5%;
}

.editcomment {
    background: rgb(75, 0, 145);
    display: flex;
    flex-direction: column;
    border: solid #000000;
    color: #FFFFFF;
    border-radius: 10%;
    margin-top: 10%;
    padding: 3px;
}

/* @media screen and (max-widtch: 992px) {
    body {
        width: 100%;
    }

    .welcome {
        display: flex;
        align-items: flex-start;
    }
}

@media screen and (max-widtch: 782px) {
    body {
        width: 75%;
    }

    .welcome-row {
        width: 75%;
    }
} */